:root {
    --size-multiplier: 4;
}

body {
    background-image: url(/img/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}


#new-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    border-radius: 2vmin;
    left: 2.5vw;
    top: 1vw;
}

#new-icon img{
    width: 5vw;
    height: auto;
}

#new-icon:hover {
    background-color: grey;
}

#playlists {
    width: 80vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.863);
    position: absolute;
    left: 50%;
    top: 5vh;
    transform: translatex(-50%);
    border-radius: 5vmin;
    display: flex;
    flex-wrap: wrap;
}

#playlists button {
    padding: 0;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 15vmin;
    font-family: monospace;
    color: white;
    background-color: transparent;
    border: none;
    width: 100%;
}

#playlists button:hover {
    text-decoration: underline;
    cursor: pointer;
}