:root {
    --size-multiplier: 4;
}

body {
    background-image: url(/img/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}




#show-import-export-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    border: none;
    border-radius: 2vmin;
    left: 2.5vw;
    top: 7vw;
}

#show-import-export-modal img {
    width: 4.5vw;
    height: 4.5vw;
}

#show-import-export-modal:hover {
    background-color: grey;
}

#show-import-export-modal-checkbox {
    display: none;
}

#show-import-export-modal-checkbox:checked ~ #import-export-modal{
    display: none;
}

#import-export-modal {
    width: 80vw;
    height: 80vh;
    background-color: grey;
    border: 1vmin solid black;
    border-radius: 1.5vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#import-export-modal input[type=file] {
    font-size: 6vmin;
    font-family: monospace;
    color: cornflowerblue;
    overflow-wrap: break-word;
    width: 100%;
}

#IMPORT {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6vmin;
    font-family: monospace;
    width: fit-content;
}

#close-import-export-modal {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10vmin;
    
}

#close-import-export-modal:hover {
    text-decoration: underline;
}

#new-icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    border: none;
    border-radius: 2vmin;
    left: 2.5vw;
    top: 1vw;
}

#new-icon img{
    width: 5vw;
    height: 5vw;
}

#new-icon:hover {
    background-color: grey;
}

#playlists {
    width: 80vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.863);
    position: absolute;
    left: 50%;
    top: 5vh;
    transform: translatex(-50%);
    border-radius: 5vmin;
    display: flex;
    flex-wrap: wrap;
}

#playlists > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#playlists button {
    padding: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 15vmin;
    font-family: monospace;
    color: white;
    background-color: transparent;
    border: none;
}

#playlists button:hover {
    text-decoration: underline;
    cursor: pointer;
}




.delete, .rename {
    width: 10vmin;
    height: 10vmin;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: 1.5vmin;
}

.delete img, .rename img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.delete:hover {
    background-color: red;
}

.delete:active {
    background-color: darkred;
}

.rename:hover {
    background-color: darkgray;
}

.rename:active {
    background-color: grey;
}