:root {
    --size-multiplier: 4;
}

body {
    background-image: url(/img/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

#home-icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    left: 2.5vw;
    top: 1vw;
}

#home-icon img{
    width: 5vw;
    height: auto;
}

#new-icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    border-radius: 2vmin;
    right: 2.5vw;
    top: 1vw;
}

#new-icon img{
    width: 5vw;
    height: auto;
}

#new-icon:hover {
    background-color: grey;
}

#videos {
    width: 80vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.863);
    position: absolute;
    left: 50%;
    top: 5vh;
    transform: translatex(-50%);
    border-radius: 5vmin;
}

#videos h1 {
    text-decoration: underline;
    text-align: center;
    display: block;
    font-size: 5vmin;
    font-family: monospace;
    color: white;
}

.moveto {
    transform: translateY(-50%);
    width: 4vmin;
    height: 4vmin;
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveto img {
    width: 100%;
    height: 100%;

}

.moveto input[type="radio"]{
    display: none;
}

#submit-label{
    position: absolute;
    background-color: white;
    font-size: 5vmin;
    font-family: sans-serif;
    border-radius: 0.5vmin;
    top: 15vmin;
    right: 25%;
    z-index: 1000;
    transform: translateX(50%);
}

#submit-label:hover{
    background-color: grey;
}

#submit-label input[type="submit"]{
    display: none;
}


.moveto:has(input[type="radio"]:checked){
    background-color: orange;
}

.video {
    margin: 5vmin 0 5vmin 0;
    width: 100%;
    height: calc(var(--size-multiplier) * 9vmin);
    display: flex;
    position: relative;
}

.right {
    flex: auto;
    position: relative;
}

.left iframe {
    border: none;
    width: calc(var(--size-multiplier) * 16vmin);
    height: calc(var(--size-multiplier) * 9vmin);
}

.right h2 {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(5vmin * var(--size-multiplier));
    font-family: monospace;
    color: white;
    margin: 0 0 5% 0;
}

.delete,
.move {
    width: calc(2.5vmin * var(--size-multiplier));
    height: calc(2.5vmin * var(--size-multiplier));
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    border-radius: 1.5vmin;
}

.delete img,
.move img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.delete{
    right: 12vmin;
}

.delete:hover {
    background-color: red;
}

.delete:active {
    background-color: darkred;
}

.move{
    right: 0;
    cursor: grab;
}

.move input[type="radio"]{
    display: none;
}

.move:hover {
    background-color: darkgray;
}

.move:active, .move:has(input[type="radio"]:checked) {
    background-color: orange;
}